/*                            responsive typography!!!
//  
//  By Indrek Paas @indrekpaas 
// taken from: https://www.sassmeister.com/gist/7f22e44ace49b5124eec
//  
// @indrekpaas note:
//  "Inspired by Mike Riethmuller's Precise control over responsive typography
//  http://madebymike.com.au/writing/precise-control-responsive-typography/
//
//  Borrowed `strip-unit` function from Hugo Giraudel
//  https://css-tricks.com/snippets/sass/strip-unit-function/"
*/
nav h1 a {
  font-size: 19px;
}

@media (min-width: 320px) {
  nav h1 a {
    font-size: calc(19px + 31 * (100vw - 320px) / 880);
  }
}

@media (min-width: 1200px) {
  nav h1 a {
    font-size: 50px;
  }
}

.filter-options h2 {
  font-size: 18px;
}

@media (min-width: 320px) {
  .filter-options h2 {
    font-size: calc(18px + 7 * (100vw - 320px) / 880);
  }
}

@media (min-width: 1200px) {
  .filter-options h2 {
    font-size: 25px;
  }
}

#restaurants-list li h2 {
  font-size: 19px;
}

@media (min-width: 320px) {
  #restaurants-list li h2 {
    font-size: calc(19px + 4 * (100vw - 320px) / 880);
  }
}

@media (min-width: 1200px) {
  #restaurants-list li h2 {
    font-size: 23px;
  }
}

#restaurants-list p {
  font-size: 15px;
}

@media (min-width: 320px) {
  #restaurants-list p {
    font-size: calc(15px + 2 * (100vw - 320px) / 880);
  }
}

@media (min-width: 1200px) {
  #restaurants-list p {
    font-size: 17px;
  }
}

#footer {
  font-size: 10px;
}

@media (min-width: 320px) {
  #footer {
    font-size: calc(10px + 7 * (100vw - 320px) / 880);
  }
}

@media (min-width: 1200px) {
  #footer {
    font-size: 17px;
  }
}

.inside #breadcrumb a, .inside #breadcrumb li {
  font-size: 15px;
}

@media (min-width: 300px) {
  .inside #breadcrumb a, .inside #breadcrumb li {
    font-size: calc(15px + 5 * (100vw - 300px) / 900);
  }
}

@media (min-width: 1200px) {
  .inside #breadcrumb a, .inside #breadcrumb li {
    font-size: 20px;
  }
}

#restaurant-name {
  font-size: 25px;
}

@media (min-width: 300px) {
  #restaurant-name {
    font-size: calc(25px + 15 * (100vw - 300px) / 900);
  }
}

@media (min-width: 1200px) {
  #restaurant-name {
    font-size: 40px;
  }
}

#restaurant-address {
  font-size: 20px;
}

@media (min-width: 300px) {
  #restaurant-address {
    font-size: calc(20px + 10 * (100vw - 300px) / 900);
  }
}

@media (min-width: 1200px) {
  #restaurant-address {
    font-size: 30px;
  }
}

#restaurant-cuisine {
  font-size: 20px;
}

@media (min-width: 300px) {
  #restaurant-cuisine {
    font-size: calc(20px + 15 * (100vw - 300px) / 900);
  }
}

@media (min-width: 1200px) {
  #restaurant-cuisine {
    font-size: 35px;
  }
}

#restaurant-hours td {
  font-size: 12px;
}

@media (min-width: 300px) {
  #restaurant-hours td {
    font-size: calc(12px + 8 * (100vw - 300px) / 900);
  }
}

@media (min-width: 1200px) {
  #restaurant-hours td {
    font-size: 20px;
  }
}

#reviews-container h3 {
  font-size: 30px;
}

@media (min-width: 300px) {
  #reviews-container h3 {
    font-size: calc(30px + 30 * (100vw - 300px) / 900);
  }
}

@media (min-width: 1200px) {
  #reviews-container h3 {
    font-size: 60px;
  }
}

#reviews-list li p {
  font-size: 15px;
}

@media (min-width: 300px) {
  #reviews-list li p {
    font-size: calc(15px + 5 * (100vw - 300px) / 900);
  }
}

@media (min-width: 1200px) {
  #reviews-list li p {
    font-size: 20px;
  }
}

.restHead a {
  font-size: 15px;
}

@media (min-width: 300px) {
  .restHead a {
    font-size: calc(15px + 25 * (100vw - 300px) / 900);
  }
}

@media (min-width: 1200px) {
  .restHead a {
    font-size: 40px;
  }
}

@media only screen and (min-width: 400px) {
  #restaurants-list li {
    padding: 0 30px 25px;
  }
}

@media only screen and (min-width: 500px) {
  .inside #maincontent {
    align-self: center;
    width: 90%;
    display: grid;
    grid-template-areas: "restC map" "revC revC";
    grid-template-columns: 60% 40%;
  }
  .inside #map-container {
    grid-area: map;
  }
  .inside #restaurant-container {
    grid-area: restC;
  }
  .inside #map {
    height: 100%;
  }
  #reviews-container {
    grid-area: revC;
    width: 90%;
    margin: auto;
    padding: 0;
    -ms-flex-item-align: center;
        align-self: center;
  }
  #restaurant-name {
    width: 90%;
  }
  #restaurant-address {
    padding: 0 0 5px 20px;
  }
}

@media only screen and (min-width: 700px) {
  .inside #maincontent {
    grid-template-columns: 50% 50%;
  }
  #restaurants-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #restaurants-list li {
    width: auto;
  }
  #reviews-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  #reviews-list li {
    width: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .inside {
    background: url(/img/super-food.jpg) no-repeat center center fixed;
  }
  #restaurants-list {
    grid-template-columns: auto auto auto;
  }
  #reviews-list {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (min-width: 1200px) {
  #restaurants-list {
    grid-template-columns: auto auto auto auto;
  }
  .inside #maincontent {
    max-width: 1200px;
  }
  .inside #map {
    height: 100%;
  }
}

@media only screen and (min-width: 1800px) {
  #restaurants-list {
    grid-template-areas: auto auto auto auto;
  }
  #restaurants-list {
    max-width: 80%;
  }
}
