@media only screen and (min-width: 500px) {
  .inside #maincontent {
    align-self: center;
    width: 90%;
    display: grid;
    grid-template-areas: "restC map" "revC revC";
    grid-template-columns: 60% 40%;
  }
  .inside #map-container {
    grid-area: map;
  }
  .inside #restaurant-container {
    grid-area: restC;
  }
  #reviews-container {
    grid-area: revC;
    width: 90%;
    margin: auto;
    padding: 0;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .inside #map {
    height: 100%;
  }
}

@media only screen and (min-width: 700px) {
  .inside #maincontent {
    grid-template-columns: 40% 60%;
  }
  #restaurants-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #reviews-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  /*   #restaurants-list li{
        width: auto;
    } */
}

@media only screen and (min-width: 1000px) {
  #restaurants-list {
    grid-template-columns: auto auto auto;
  }
  #reviews-list {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (min-width: 1200px) {
  #restaurants-list {
    grid-template-columns: auto auto auto auto;
  }
  .inside #maincontent {
    max-width: 1100px;
  }
}

@media only screen and (min-width: 1800px) {
  #restaurants-list {
    grid-template-areas: auto auto auto auto;
  }
  #restaurants-list {
    max-width: 80%;
  }
}
